CompileFlags:
    Add: ["-Wno-c99-designator", "-std=c++23"]
Diagnostics:
    ClangTidy:
        Add: [cppcoreguidelines-*, bugprone-*, misc-unused-*, modernize-*]
        Remove: [
                bugprone-easily-swappable-parameters,
                #
                cppcoreguidelines-non-private-member-variables-in-classes,
                cppcoreguidelines-prefer-member-initializer,
                cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                cppcoreguidelines-avoid-const-or-ref-data-members,
                cppcoreguidelines-pro-type-union-access,
                cppcoreguidelines-owning-memory,
                cppcoreguidelines-avoid-non-const-global-variables,
                cppcoreguidelines-avoid-do-while,
                cppcoreguidelines-pro-type-vararg,
                cppcoreguidelines-avoid-magic-numbers,
                cppcoreguidelines-pro-type-cstyle-cast,
                cppcoreguidelines-avoid-c-arrays,
                cppcoreguidelines-pro-type-reinterpret-cast,
                cppcoreguidelines-pro-type-static-cast-downcast,
                #
                modernize-use-trailing-return-type,
                #
            ]
