# $schema: https://json.schemastore.org/clang-format.json # this is ignored in vscode, config this in settings.json
---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Custom
TabWidth: 4

AlwaysBreakTemplateDeclarations: MultiLine

AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: OnlyFirstIf
AllowShortCompoundRequirementOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AllowAllConstructorInitializersOnNextLine: true

# function (x , y ,z) 是否可以自定义组合。 false: 全在一行或者每个参数单独一行
BinPackArguments: false
AlignOperands: AlignAfterOperator
# ternary 三元
BreakBeforeTernaryOperators: true
# BreakBeforeBinaryOperators: All

IndentPPDirectives: BeforeHash

# Works after clang-format 16
#BreakAfterAttributes: Leave

# 大括号换行，只有当 BreakBeforeBraces 设置为Custom时才有效
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# 连续赋值时，对齐所有等号
AlignConsecutiveAssignments: Consecutive

# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations: Consecutive

# 保留在块开始处的空行
KeepEmptyLinesAtTheStartOfBlocks: true

# 连续空行的最大数量
MaxEmptyLinesToKeep: 3

# 保留public、private后的空行
EmptyLineAfterAccessModifier: Leave

# 在一个注释中引入换行的penalty
PenaltyBreakComment: 150
AllowShortLambdasOnASingleLine: All
LambdaBodyIndentation: Signature

# AlignArrayOfStructures: Left
PointerAlignment: Left
QualifierAlignment: Left

# 每行字符的限制，0表示没有限制
ColumnLimit: 0

Standard: Auto
