
build
install
bin
lib

.xmake
# .vscode
.cache
.vs

compile_commands.json
./compile_commands.json
compile_commands*

vulkaninfoSDK*
*.exe
*.out

test.log
ya.*-*-*.log
imgui.ini
Intermediate

Temp
__pycache__
build*

Engine/Saved/Profiling/**
Engine/Saved/RenderDoc/**

# 暂时屏蔽，后续采用 link 的方式来集成 skill 到一个地方
.codebuddy 
.workbuddy
claude-history
