[submodule "Engine/Plugins/log.cc"]
	path = Engine/Plugins/log.cc
	url = git@github.com:godotc/log.cc.git
[submodule "Engine/Plugins/utility.cc"]
	path = Engine/Plugins/utility.cc
	url = git@github.com:godotc/utility.cc.git
[submodule "Engine/ThirdParty/Vulkan-Samples-Assets"]
	path = Engine/ThirdParty/Vulkan-Samples-Assets
	url = git@github.com:KhronosGroup/Vulkan-Samples-Assets.git
[submodule "Engine/ThirdParty/LearnOpenGL"]
	path = Engine/ThirdParty/LearnOpenGL
	url = git@github.com:JoeyDeVries/LearnOpenGL.git
[submodule "Engine/ThirdParty/ImGui"]
	path = Engine/ThirdParty/ImGui
	url = git@github.com:ocornut/imgui.git
[submodule "Engine/ThirdParty/ImGuizmo"]
	path = Engine/ThirdParty/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
